$primary_indigo: #4b70f5;
$secondary_indigo: #b7c6fe;
$primary_blue: #1877f2;
$secondary_blue: #e4f6ff;
$black: #474c5d;
$red: #ff3b30;
$light_green: #25de66;
$dark_blue: #0077b5;
$dark_red: #f56040;
