@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/breakpoints" as *;

.section__tabs {
  display: flex;
  flex-direction: column;
  gap: 0.3px;
  background-color: rgba($color: colors.$black, $alpha: 0.7);
  width: 25%;
  border-radius: 4px;
  margin-left: 20pc;

  & .active {
    color: colors.$primary_indigo;
    border-left: 4px solid colors.$primary_indigo;
    box-shadow: 0 0 4px rgba($color: colors.$black, $alpha: 0.5);
  }
  & .not__active {
    text-decoration: none;
  }
  & .tab__item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    color: rgba($color: colors.$black, $alpha: 0.7);
    padding: 1rem 2rem;
    box-shadow: 0 0 2px rgba($color: colors.$black, $alpha: 0.5);
    border-left: 4px solid transparent;
    transition: all ease-in-out 0.2s;

    &:hover {
      box-shadow: 0 0 7px rgba($color: colors.$black, $alpha: 0.5);
    }

    & .tab__icon {
      font-size: 14px;
    }

    & .tab__label {
      @include font_montserrat(500, 17px);

      text-transform: capitalize;
    }
  }
}
