@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/breakpoints" as *;

.details__card {
  background-color: #fff;
  padding: 1.75rem 2rem;
  padding-bottom: 2.5rem;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba($color: colors.$black, $alpha: 0.5);

  & .heading__container {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba($color: colors.$black, $alpha: 0.7);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }

  & .card__heading {
    @include font_montserrat(600, 24px);
    color: rgba($color: colors.$black, $alpha: 0.9);
  }

  & .details__form {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.5rem;

    & .form__row {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    & .form__buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;

      & span {
        width: 16%;

        & .back__button {
          background-color: #fff;
          color: colors.$primary_blue;
          border: 1px solid colors.$primary_blue;
        }
      }
    }
  }
}
