@use "../../styles/colors" as colors;
@use "../../styles/fonts" as *;
@use "../../styles/breakpoints" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.25rem;
  background: linear-gradient(colors.$sky_blue, colors.$sky_blue);
  border-bottom: 1px solid rgba(colors.$black, 0.5);

  .navbar-brand {
    .navbar-logo {
      @include font_montserrat(700, 1.5rem);
      color: colors.$primary_indigo;
      text-decoration: none;
    }
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    @include font_montserrat(500, 16px);

    .active {
      color: colors.$primary_indigo;
    }

    .not-active {
      color: colors.$black;
    }
    .navbar-item {
      margin-left: 1.5rem;
      text-decoration: none;

      &:hover {
        color: colors.$primary_indigo;
      }
    }

    .login-button {
      margin-left: 1.5rem;
      @include font_space(700, 14px);
      &.MuiButton-root {
        background-color: colors.$primary_blue;
      }
    }
  }
}
