@use "../../../styles/colors" as colors;
@use "../../../styles/fonts" as *;
@use "../../../styles/breakpoints" as *;

.card {
  width: 20rem;
  position: relative;
  cursor: pointer;
  object-fit: cover;

  & .card__media {
    width: 100%;
    object-fit: cover;
  }

  & .card__content {
    position: absolute;
    background-color: rgba($color: colors.$black, $alpha: 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    & .card__content {
      opacity: 1;
    }
  }
}
