@use "../../../../styles/colors" as colors;
@use "../../../../styles/fonts" as *;
@use "../../../../styles/breakpoints" as *;

.multiselect__container {
  width: 100%;

  & .multiselect__label {
    @include font_space(400, 16px);
    text-transform: capitalize;
    color: colors.$black;
    background-color: #fff;
    padding: 0 4px 0 2px;
  }

  & .multi__select {
    &.MuiInputBase-root {
      color: colors.$black;
      border: none;
      outline: 1px solid rgba($color: colors.$black, $alpha: 0.5);

      & .MuiInputBase-input {
        color: colors.$black;
      }

      & fieldset {
        border: none;
      }

      &.Mui-focused {
        outline: 1.3px solid colors.$secondary_blue;
        border-color: transparent;
      }

      &.Mui-error {
        outline: 1.3px solid colors.$secondary_red;
        border-color: transparent;
      }
    }
  }
}

.multiselect__item {
  &.MuiMenuItem-root {
    @include font_space(500, 1em);
    color: rgba($color: colors.$black, $alpha: 0.8);

    &:hover {
      background-color: rgba($color: colors.$sky_blue, $alpha: 0.5);
    }
  }
}
